{% extends "main.html" %}
{% load static %}

{% block title %}
<title>Index Page</title>
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock %}

{% block script_files %} {% endblock %}

{% block content %}

<div class="container mt-2">
    <div class="row">
        <div class="col-3">
            {% include 'first_exp/partials/categories.html' %}   
        </div>
        <div class="col-8">
            <h1>This is our homepage</h1>
            <hr>
            {% for page in pages %}
                {% include 'first_exp/partials/pages.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}